.about-section{



}

.about-container{
padding-top: 7rem;
background-color: rgba(185,169,149,0.3);
}
.about-row{
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
    margin-top: 2rem;
}



.col-6{
    
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.about-img{
    width: 100%;
    height: 50vh;
    border: 1px solid rgb(140,88,5);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.about-header{
font-size: 0.8rem;
margin: auto;
}
.about-text{
    font-size: 0.7rem;

}


@media only screen and (max-width: 600px) {
    .about-row{
        flex-direction:column ;
    }

    .col-6{
        width: 90%;
    }
  }
